<template>
    <div class="uk-container">

        <div v-if="currentFont != false" class="uk-padding-small">
            <div uk-grid>
                <div class="uk-width-1-3@m">
                </div>
                <div class="uk-width-1-3@m">
                    <div class="uk-text-center">
                        <a @click="$store.dispatch('showCategoriesHandler')" class="uk-icon-button uk-margin-small-left uk-button-secondary jis-icon-secondary" uk-icon="icon: jcategories; ratio: 0.8"></a>
                    <span class="uk-text-meta jis-text-small uk-text-uppercase">{{ $store.getters.category }}</span>
                    </div>
                </div>
                <div class="uk-width-1-3@m">
                <div class="uk-text-right">
                    <transition name="fade">
                        <span v-if="authorized" v-show="!currentFont.favorited">
                            <span class="uk-text-meta jis-text-small uk-text-uppercase">Add to favorites</span>
                            <button @click="addFavorite(currentFont)" class="uk-icon-button uk-button-primary jis-icon-primary" uk-icon="icon: star"></button>
                        </span>
                    </transition>

                    <a :href="currentFont['link']" target="_blank" class="uk-icon-button uk-margin-small-left uk-button-secondary jis-icon-secondary" uk-icon="icon: jchain; ratio: 0.6"></a>
                    <span class="uk-text-meta jis-text-small uk-text-uppercase">Go to web link</span>
                </div>
                </div>
            </div>
        </div>

        <div class="uk-card-body uk-padding-large">
            <div class="uk-flex uk-flex-center" uk-grid>
                <div class="uk-width-3-5@m">
                    <swiper :options="swiperOption" ref="pSwiper">
                        <swiper-slide v-for="(slide, index) in fonts.collection.data" :key="index">
                            <div @dblclick="showPreviewReal" title="Double click to experience" uk-tooltip="delay: 500; pos: bottom;" class="uk-text-center">
                                <p class="uk-text-center">{{ slide.name }}</p>
                                <div class="uk-flex uk-flex-middle uk-text-center">
                                    <div class="uk-card uk-card-body uk-width-expand uk-padding-large preview uk-padding-remove-top" :style="preview" style="font-size: 2em" :class="{ 'is-loading': loading }">
                                        {{ slide.preview }}
                                    </div>
                                </div>

                            </div>

                        </swiper-slide>
                        <div class="swiper-pagination" slot="pagination"></div>
                        <div class="swiper-button-prev" slot="button-prev"></div>
                        <div class="swiper-button-next" slot="button-next"></div>
                    </swiper>
                </div>
            </div>

        </div>

        <div id="previewReal" class="uk-modal-full" uk-modal>
            <div class="uk-modal-dialog jis-modal-yellow">
                <button @click="close" class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
                    <div>
                        <div class="uk-margin">
                            <textarea style="resize: none; height: 100vh" v-model="previewReal" class="uk-textarea" rows="5" placeholder="Start writing..."></textarea>
                        </div>
                    </div>
                    <div class="uk-padding-small" uk-height-viewport>
                        <p :style="preview" style="white-space: pre-line; height: 95vh; overflow: scroll">{{ previewReal }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-card-body ">
            <div class="uk-flex uk-flex-center" uk-grid>
                <div class="uk-width-2-4@l uk-width-2-5@m uk-width-4-5@s uk-position-bottom-center uk-overlay uk-overlay-default bottom uk-padding-remove-top">
                    <div class="uk-child-width-expand uk-padding-small" uk-grid>
                        <div @click="prevslide" class="uk-text-left" uk-icon="icon: jsad; ratio: 0.6"></div>
                        <div @click="nextslide" class="uk-text-right" uk-icon="icon: jhappy; ratio: 0.6"></div>
                    </div>

                    <vue-slider
                        ref="slider"
                        v-model="currentFontIndex"
                        :max="fontsCount"
                        :interval="1"
                        :tooltip="false"
                        :piecewise="true"
                        :bg-style="{backgroundColor: '#ffcb08'}"
                        :process-style="{backgroundColor: '#222'}"
                        :dot-size="25"
                        @callback="cb"
                        :sliderStyle="sliderStyle"
                        :height="2"
                        :piecewiseStyle="piecewiseStyle">
                    </vue-slider>

                    <div class="uk-child-width-expand" uk-grid>
                        <div class="uk-text-left uk-text-meta">serious</div>
                        <div class="uk-text-center uk-text-meta">neutral</div>
                        <div class="uk-text-right uk-text-meta">funny</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<style lang="scss">
    .uk-notification-message-preview {
        background: #222;
        color: #f9f9f9;
        border-radius: 8px;
        text-align: center;
        span[uk-icon='icon: pencil'] {
            background: #ffffff;
            color: black;
            padding: 5px;
            border-radius: 100px;
        }
        p  {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
</style>

<style scoped lang="scss">
    @import "../../sass/variables";

    .top {
        position: relative;
    }
    .bottom {
        background: white;
        z-index: 10;
        position: fixed!important;
    }
    .jis-list-text-color {
        color: #818181;
    }
    .swiper-pagination-fraction {
        color: #000;
        font-size: 12px;
    }
    .preview {
        transition: ease 250ms opacity;
    }

    .is-loading {
        opacity: 0;
    }

    .jis-text-small {
        font-size: 0.5rem;
    }

    .jis-icon-primary {
        color:  #fff;
    }

    .jis-icon-secondary {
        color:  #ffcb08;
    }

    .fade-enter-active {
        transition: all 200ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .fade-leave-active {
        transition: all 200ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .fade-enter, .fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }

    @media (max-width: 768px) {
        .preview {
            font-size: 20px;
        }
    }

</style>

<script>

import vueSlider from 'vue-slider-component'

export default {
    name: 'dashboard',

    props: ["authorized"],

    components: {
        vueSlider
    },

    data() {
        let self = this;
        return {
            textsize: 20,
            currentFontIndex: 0,
            next: null,
            value: 0,
            loading: false,
            con: false,
            preview: {},
            previewReal: '',
            piecewiseStyle: {
                "background-color": "#afafaf",
                "visibility": "visible",
                "width": "1px",
                "height": "10px",
                "top": "-10px",
                "border-radius": "0",
            },
            sliderStyle: {
                "backgroundColor": "#222",
                "boxShadow": "none"
            },
            swiperOption: {
                setWrapperSize :true,
                pagination : '.swiper-pagination',
                paginationClickable :true,
                mousewheelControl : false,
                keyboardControl: true,
                observeParents:true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                paginationType: 'fraction',
                autoHeight: true,
                onSlideChangeEnd: function(swiper) {
                    self.currentFontIndex = swiper.activeIndex;
                    self.loadFont();
                    self.previewReal = self.currentFont.preview
                }
            }
        }
    },

    methods: {
        addFavorite(font) {
            this.$store.dispatch('addFavorite', font)
        },
        prevslide: function() {
            this.swiper.slidePrev()
        },
        nextslide: function() {
            this.swiper.slideNext()
        },
        goTo: function() {
            this.swiper.slideTo(this.currentFontIndex);
        },
        cb(val) {
            this.swiper.slideTo(val);
            this.loadFont();
        },
        showPreviewReal() {
            UIkit.modal('#previewReal').toggle()
            UIkit.notification({
                message: `<span uk-icon='icon: pencil'></span><p>You are writing with ${this.currentFont.name}</p>`,
                pos: 'bottom-center',
                status: 'preview'})
        },
        close() {
            UIkit.notification.closeAll()
        },
        getCategories: function() {
            axios.get('/api/categories')
                .then(response => {
                    this.categories = response.data;
                    this.getFonts({id: this.categories[0]['id'], name: this.categories[0]['name']});
                })
        },
        getFonts: function(category) {
            this.$store.dispatch('showCategoriesHandler');
            axios.get(`/api/categories/${category.id}`)
                .then(response => {
                    this.fonts = response.data;
                    this.next = response.data.collection.next_page_url;
                    this.swiper.slideTo(0, 0);
                })
        },
        loadFont: function() {
            let name = this.fonts.collection.data[this.currentFontIndex]['name']
            WebFont.load({
                google: {
                    families: [name]
                },
                loading: () => {
                    this.loading = true;
                },
                active: () => {
                    this.loading = false;
                    this.preview = {
                        'font-family': name
                    }
                },
                fontinactive: () => {
                    this.preview = {
                        'font-family': 'Arial'
                    },
                    this.loading = false;
                },
                classes: false
            })
        }
    },

    computed: {
        fonts() {
            return this.$store.getters.fonts
        },
        favorites() {
            return this.$store.getters.favorites
        },
        currentFont() {
            if (!_.isEmpty(this.fonts)) {
                return this.fonts.collection.data[this.currentFontIndex]
            } else {
                return false;
            }
        },
        fontsCount() {
            if (!_.isEmpty(this.fonts)) {
                return this.fonts.collection.data.length
            } else {
                return 0
            }
        },
        swiper: function() {
            return this.$refs.pSwiper.swiper
        }
    },

    mounted() {
        console.log('Dashboard mounted.')
    }
}
</script>
