<template>
    <div>
        
        <div>
            <jis-navbar v-if="!authorized"></jis-navbar>
            <jis-navbar-private v-else></jis-navbar-private>
        </div>
        
        <transition name="fadex">
            <div v-show="$store.state.loading" class="loader">
                <div uk-height-viewport class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center uk-flex-center">
                    <div class="uk-width-1-1">
                        <div class="uk-container">
                            <h2 class="uk-h4">LOADING...</h2>
                        </div>
                    </div>
                </div>
            </div>
        </transition>

        <div class="uk-container">
            <div v-if="currentFont != false" class="uk-padding uk-padding-remove-bottom uk-padding-remove-left uk-padding-remove-right">
                <div uk-grid>
                    <div class="uk-width-1-2">
                        <div class="uk-text-left">
                            <a @click="showCategories" class="uk-icon-button uk-button-secondary jis-icon-secondary" uk-icon="icon: list; ratio: 1.2"></a>
                            <span @click="showCategories" class="uk-text-meta uk-text-uppercase">{{ $store.getters.category }}</span>
                        </div>
                    </div>
                    <div class="uk-width-1-2">
                    <div class="uk-text-right">
                        <transition name="fade">
                            <span v-if="authorized" v-show="!currentFont.favorited">
                                <span class="uk-text-meta jis-text-small uk-text-uppercase uk-visible@m">Add to favorites</span>
                                <button @click="addFavorite(currentFont)" class="uk-icon-button uk-button-primary jis-icon-primary" uk-icon="icon: star; ratio: 1.2;"></button>
                            </span>
                        </transition>

                        <span v-if="!authorized">
                            <span class="uk-text-meta jis-text-small uk-text-uppercase uk-visible@m">Add to favorites</span>
                            <button @click="userLoginRequestMsg" uk-toggle="target: #login-modal" class="uk-icon-button uk-button-primary jis-icon-primary" uk-icon="icon: star; ratio: 1.2;"></button>
                        </span>

                        <a :href="currentFont['link']" target="_blank" class="uk-icon-button uk-margin-small-left uk-button-secondary jis-icon-secondary" uk-icon="icon: link; ratio: 1.2"></a>
                        <span class="uk-text-meta jis-text-small uk-text-uppercase uk-visible@m">Go to web link</span>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div uk-height-viewport="offset-top: 80; offset-bottom: 20;" class="uk-section uk-section-small uk-flex uk-flex-middle uk-text-center">
            <div class="uk-width-1-1">
                <div class="uk-container">
                    
        <div class="uk-card-body uk-padding-remove">
            <div class="uk-flex uk-flex-center" uk-grid>
                <div class="uk-width-1-1">
                    <swiper :options="swiperOption" ref="pSwiper">
                        <swiper-slide v-for="(slide, index) in fonts" :key="index">
                            <div class="uk-text-center">
                                <p class="uk-text-center">{{ slide.name }}</p>
                                <div class="uk-flex uk-flex-middle uk-text-center">
                                    <div class="uk-card uk-card-body uk-width-expand uk-padding-large preview uk-padding-remove-top" :style="{fontFamily: slide.name}" style="font-size: 2em">
                                        <span v-if="preview.length < 1">{{ slide.preview }}</span>
                                        <span v-else>{{ preview }}</span>
                                    </div>
                                </div>

                            </div>

                        </swiper-slide>
                        <div class="swiper-button-prev" slot="button-prev"></div>
                        <div class="swiper-button-next" slot="button-next"></div>
                    </swiper>
                    <span class="swiper-pagination">{{currentFontIndex + 1}} / {{ $store.state.total }}</span>
                </div>
            </div>

        </div>

        <div class="uk-card-body ">
            <div class="uk-flex uk-flex-center" uk-grid>
                <div class="uk-width-2-4@l uk-width-2-5@m uk-width-4-5@s uk-position-bottom-center uk-overlay uk-overlay-default bottom uk-padding-remove-top uk-padding-small">
                    <div class="uk-child-width-expand uk-padding-small" uk-grid>
                        <div @click="prevslide" class="uk-text-left" uk-icon="icon: jhappy; ratio: 0.6"></div>
                        <div @click="nextslide" class="uk-text-right" uk-icon="icon: jsad; ratio: 0.6"></div>
                    </div>

                    <vue-slider
                        ref="slider"
                        v-model="currentFontIndex"
                        :max="fontsCount"
                        :interval="1"
                        :tooltip="false"
                        :piecewise="true"
                        :bg-style="{backgroundColor: '#ffcb08'}"
                        :process-style="{backgroundColor: '#222'}"
                        :dot-size="25"
                        @callback="cb"
                        :sliderStyle="sliderStyle"
                        :height="2"
                        :piecewiseStyle="piecewiseStyle">
                    </vue-slider>
                </div>
            </div>
        </div>

        </div>

                </div>
            </div>
        </div>
    </div>

</template>

<style lang="scss">
    .uk-notification-message-preview {
        background: #222;
        color: #f9f9f9;
        border-radius: 8px;
        text-align: center;
        span[uk-icon='icon: pencil'] {
            background: #ffffff;
            color: black;
            padding: 5px;
            border-radius: 100px;
        }
        p  {
            margin-top: 10px;
            margin-bottom: 0;
        }
    }
</style>

<style scoped lang="scss">
    @import "../../sass/variables";

    .top {
        position: relative;
    }
    .bottom {
        background: white;
        z-index: 10;
        position: fixed!important;
    }
    .jis-list-text-color {
        color: #818181;
    }
    .swiper-pagination {
        color: #000;
        font-size: 12px;
    }
    .preview {
        transition: ease 250ms opacity;
    }

    .is-loading {
        opacity: 0;
    }

    .jis-text-small {
        font-size: 0.5rem;
    }

    .jis-icon-primary {
        color:  #fff;
    }

    .jis-icon-secondary {
        color:  #ffcb08;
    }

    .fade-enter-active {
        transition: all 200ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .fade-leave-active {
        transition: all 200ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .fade-enter, .fade-leave-to {
        transform: translateX(10px);
        opacity: 0;
    }

    .fadex-enter-active {
        transition: opacity 100ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .fadex-leave-active {
        transition: opacity 1000ms cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .fadex-enter, .fadex-leave-to {
        opacity: 0;
    }

    .loader {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background: rgb(255, 255, 255);
        top: 0;
    }

    .actions {
        position: absolute;
        left: 50%;
        background: black;
        height: 25px;
        justify-content: center;
        display: flex;
        align-items: center;
        padding: 5px;
        transform: translateX(-50%);
    }

    .current {
        padding: 10px;
        color: #d4d4d4;
    }

    @media (max-width: 768px) {
        .preview {
            font-size: 20px;
        }
    }

</style>

<script>

import vueSlider from 'vue-slider-component'
import JisNavbar from '@/components/_shared/JisNavbar'
import JisNavbarPrivate from '@/components/_shared/JisNavbarPrivate'
import API from '@/api';

export default {
    name: 'dashboard',

    props: ["authorized"],

    components: {
        vueSlider,
        JisNavbar,
        JisNavbarPrivate
    },

    data() {
        let self = this;
        return {
            textsize: 20,
            currentFontIndex: 0,
            next: null,
            value: 0,
            loading: false,
            con: false,
            previewReal: '',
            piecewiseStyle: {
                "background-color": "#afafaf",
                "visibility": "visible",
                "width": "1px",
                "height": "10px",
                "top": "-10px",
                "border-radius": "0",
            },
            sliderStyle: {
                "backgroundColor": "#222",
                "boxShadow": "none"
            },
            swiperOption: {
                setWrapperSize :true,
                paginationClickable :true,
                mousewheelControl : false,
                keyboardControl: true,
                observeParents: true,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                autoHeight: true,
                onSlideChangeEnd: function(swiper) {
                    self.currentFontIndex = swiper.activeIndex;
                    self.loading = true;
                },
                onReachEnd: function(swiper) {
                    console.log('end is reached');
                    self.startMerge();
                },
            }
        }
    },

    methods: {
        addFavorite(font) {
            this.$store.dispatch('addFavorite', font)
        },
        prevslide: function() {
            this.swiper.slidePrev()
        },
        nextslide: function() {
            this.swiper.slideNext()
        },
        goTo: function() {
            this.swiper.slideTo(this.currentFontIndex);
        },
        cb(val) {
            this.swiper.slideTo(val);
        },
        showPreviewReal() {
            UIkit.modal('#previewReal').toggle()
        },
        close() {
            UIkit.notification.closeAll()
        },
        userLoginRequestMsg() {
            UIkit.notification.closeAll();
            UIkit.notification('You need to login to add fonts to your favorites!')
        },

        startMerge() {
            API.freedom(this.$store.getters.nextUrl).then(fonts => {
                this.$store.dispatch('mergeFonts', fonts);
            });
        },

        showCategories() {
            this.currentFontIndex = 0;
            this.swiper.slideTo(this.currentFontIndex);
            this.$store.dispatch('showCategoriesHandler');
        },
    },

    computed: {

        fonts() {
            return this.$store.getters.fonts;
        },

        favorites() {
            return this.$store.getters.favorites;
        },

        currentFont() {
            if (!_.isEmpty(this.fonts)) {
                return this.fonts[this.currentFontIndex]
            } else {
                return false;
            }
        },
        fontsCount() {
            if (!_.isEmpty(this.fonts)) {
                return this.fonts.length
            } else {
                return 0
            }
        },
        swiper: function() {
            return this.$refs.pSwiper.swiper
        },
        preview() {
            return this.$store.getters.preview
        },

        interval() {
            return Math.floor(parseInt(this.fontsCount) / 20);
        }
    },

    mounted() {}
}
</script>
