<template>
    <span>
        <a href="#" v-if="isFavorited" @click.prevent="unFavorite(font)" uk-icon="icon: star"></a>
        <a href="#" v-else @click.prevent="favorite(font)" uk-icon="icon: heart"></a>
    </span>
</template>

<script>
    export default {
        
        props: ['font', 'favorited'],

        data() {
            return {
                isFavorited: false,
            }
        },

        mounted() {
            this.isFavorited = this.isFavorite ? true : false;
        },

        computed: {
            isFavorite() {
                return this.favorited;
            },
        },

        methods: {
            favorite(font) {
                axios.post('/favorite/'+font)
                    .then(response => this.isFavorited = true)
                    .catch(response => console.log(response.data));
            },

            unFavorite(font) {
                axios.post('/unfavorite/'+font)
                    .then(response => this.isFavorited = false)
                    .catch(response => console.log(response.data));
            }
        }
    }
</script>