<template>
        
    <div>
        <div class="uk-card-body uk-padding-small">
            <swiper  :options="swiperOption" ref="fSwiper">
                <swiper-slide v-for="(slide, index) in favorites" :key="index">
                    
                    <div class="uk-text-center">
                        <p class="uk-text-center">{{ slide.name }}</p>
                        <div class="uk-flex uk-flex-middle uk-text-center">
                            <div class="uk-card uk-card-body uk-width-expand uk-padding-large uk-padding-remove-top" :style="preview" style="font-size: 2em" :class="{ 'is-loading': loading }">
                                {{ slide.preview }}
                            </div>
                        </div>

                    </div>

                </swiper-slide>
                <div class="swiper-pagination" slot="pagination"></div>
                <div class="swiper-button-prev" slot="button-prev"></div>
                <div class="swiper-button-next" slot="button-next"></div>
            </swiper>
        </div>

        <div class="uk-overflow-auto uk-height-large">

            <table v-if="favorites.length" class="uk-table uk-table-divider ">
                <caption></caption>
                <thead class="jis-table-head">
                    <tr>
                        <th>Font Name</th>
                        <!-- <th class="uk-width-small">Category</th> -->
                        <th class="uk-table-shrink"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr @click="goTo(index)" :class="{'active': currentFavoriteIndex == index}" class="jis-favorite-item" v-for="(favorite, index) in favorites" :key="index">
                        <td>{{ favorite.name }}</td>
                        <!-- <td class="uk-text-small uk-text-bold">{{ favorite.category.name }}</td> -->
                        <td class="jis-trash"><a @click.prevent="removeFavorite(favorite)" href="" uk-icon="icon: jtrash; ratio: 0.8"></a></td>
                    </tr>
                </tbody>
            </table>
            <div v-else uk-alert>
                You have no favorites!
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .jis-favorite-item {
        .jis-trash {
            opacity: 0;
            transition: ease-in-out opacity 500ms;
        }

        &.active {
            font-weight: bold;
        }

        &:hover {
            background-color: #f7f7f7;
            .jis-trash {
                opacity: 1;
            }
        }
        
    }

    .preview {
        transition: ease 250ms opacity;
    }

    .is-loading {
        opacity: 0;
    }

    @media (max-width: 768px) {
        .preview {
            font-size: 20px;
        }
    }
</style>

<script>

export default {

    name: 'favorites',

    data() {
        let self = this;
        return {
            currentFavoriteIndex: 0,
            loading: false,
            preview: {},
            swiperOption: {
                setWrapperSize :true,
                pagination : '.swiper-pagination',
                paginationClickable :true,
                mousewheelControl : false,
                keyboardControl: false,
                observeParents:false,
                nextButton: '.swiper-button-next',
                prevButton: '.swiper-button-prev',
                paginationType: 'custom',
                onSlideChangeEnd: function(swiper) {
                    self.currentFavoriteIndex = swiper.activeIndex;
                    self.loadFont();
                }
            }
        }
    },

    methods: {
        removeFavorite(favorite) {
            return this.$store.dispatch('removeFavorite', favorite)
        },
        refresh: function() {
            setTimeout(() => { this.swiper.update() }, 100);
        },
        goTo: function(index) {
            this.currentFavoriteIndex = index;
            this.swiper.slideTo(index);
        },
        loadFont: function() {
            let name = this.favorites[this.currentFavoriteIndex]['name']
            WebFont.load({
                google: {
                    families: [name]
                },
                loading: () => {
                    this.loading = true;
                },
                active: () => {
                    this.loading = false;
                    this.preview = {
                        'font-family': name
                    }
                },
                fontinactive: () => {
                    this.preview = {
                        'font-family': 'Arial'
                    },
                    this.loading = false;
                },
                classes: false
            })
        }
    },
    computed: {
        favorites() {
            return this.$store.getters.favorites;
        },
        fonts() {
            return this.$store.getters.fonts;
        },
        swiper: function() {
            return this.$refs.fSwiper.swiper;
        }
    },
    mounted() {
        this.$on('refreshFavoritesSwiper', () => {
            console.log('refresh event occured');
        })
    }
}
</script>