<template>
    <div>
        <h1>FONTS</h1>
    </div>
</template>

<script>
    
    export default {

        name: 'fonts',

        data() {
            return {
                // local state
            }
        }
    
    };

</script>