<template>
    <div>

        <jis-hero title="Happy Fonts" :image="img"></jis-hero>

        <nav class="uk-navbar-container uk-dark" uk-navbar="mode: click" uk-sticky>
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo logo" href="/">
                    <img src="/images/logo.png" alt="logo"/>
                </a>
                <div class="uk-navbar-item site-credit">
                    <span>by </span>
                    <a href="http://jis.az">
                        <img src="/images/jis.svg" alt="jis.az"/>
                    </a>
                </div>
            </div>
        </nav>



        <div class="uk-section uk-section-muted">

            <div class="uk-container">

                <div class="uk-grid-large uk-margin-large uk-grid" uk-grid>

                     <div class="uk-width-expand@m uk-visible@l">

                        <div class="uk-width-1-1" style="z-index: 980;" uk-sticky="offset: 150">
                            <ul class="uk-nav uk-nav-default">
                                <li class="uk-nav-header">Categories</li>
                                <li :class="{'uk-active': current === category.id}" v-for="category in categories">
                                    <a @click.prevent="receiveFonts(category.id)">{{ category.name }}</a>
                                </li>
                            </ul>
                        </div>
                        
                    </div>

                    <div class="uk-width-3-5@m">
                        <div class="list uk-text-center">
                            <div class="list-item" v-for="(font, index) in fonts" :key="index">
                                <div>
                                    <span class="order">{{index + 1}}</span>
                                    <h1 class="uk-h2 font-name">{{ font.name}}</h1>
                                    <p class="font-preview" :style="{fontFamily: font.name}">{{ font.preview }}</p>
                                </div>
                            </div>
                            <infinite-loading
                                :on-infinite="onInfinite"
                                ref="infiniteLoading">
                            </infinite-loading>
                        </div>
                    </div>

                    <div class="uk-width-expand@m uk-visible@l uk-text-center">

                        <div class="uk-width-1-1" uk-sticky="offset: 100;animation: uk-animation-slide-top; show-on-up: true">
                            <img class="uk-border-circle" src="http://devutpol.com/tf/nwtn-preview/nwtn/img/client/client-pic3.jpg" width="100" height="100" alt="Border circle">
                            <h3 class="uk-h5 uk-text-uppercase uk-margin-small">Welcome, John</h3>
                            
                        </div>
                        
                    </div>

                </div>

            </div>

        </div>

    </div>
</template>

<style lang="scss" scoped>

    .list-item {
        background: #fff;
        border-radius: 10px;
        padding: 40px 40px 10px 40px;
        word-break: break-word;
        margin: 0 auto 60px auto;
        box-shadow: 0 0 25px rgba(0,0,0,0.04);
        position: relative;
    }
    .font-name {
        color: #f5be0b;
    }
    .font-preview {
        color: #999;
        font-size: 2.5rem;
        font-weight: 100;
    }
    .order {
        position: absolute;
        color: #000;
        background: #fff;
        width: 50px;
        display: block;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 1.4rem;
        border-radius: 100%;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 -8px 16px -4px rgba(0, 0, 0, 0.08);
    }
    
    .uk-navbar-container:not(.uk-navbar-transparent) {
        background: #fff;
        border-bottom: 1px solid #f3f3f3;
        z-index: 1000;
    }

</style>

<script>
    import InfiniteLoading from 'vue-infinite-loading';
    import JisHero from '@/components/_shared/JisHero';
    import API from '@/api';

    export default {
        name: 'list',

        data() {
            return {
                img: 'http://www.rigb.org/images/alternative__smiley_face_0.jpg',
                current: ''
            }
        },

        components: {
            InfiniteLoading,
            JisHero,
        },

        methods: {
            receiveTypefaces() {
                return this.$store.dispatch('receiveTypefaces')
            },
            receiveFonts(id) {
                this.current = id;
                return this.$store.dispatch('receiveFonts', id)
            },
            showDetails(index) {
                let name = this.fonts.collection.data[index]['name'];
                UIkit.modal.dialog('<p class="uk-modal-body">More info about '+name+'</p>');
            },
            onInfinite() {
                API.freedom(this.$store.getters.nextUrl).then(fonts => {
                    this.$store.dispatch('mergeFonts', fonts);
                    this.$refs.infiniteLoading.$emit('$InfiniteLoading:loaded');
                });
            },
            changeImage() {
                this.img = 'https://geeglenews.com/wp-content/uploads/2016/06/beautiful-sexy-girl-wallpaper-2.jpg';
            }
        },
        computed: {
            categories() {
                return this.$store.getters.typefaces
            },
            fonts() {
                return this.$store.getters.fonts
            },
            names() {
                return this.fonts.map(font => font.name);
            }
        },
        mounted() {
            this.receiveTypefaces()
            this.receiveFonts(5)
        }
    }
</script>