<template>
    <div>

        <transition name="fade">
            <div v-show="loading" class="loading-container">
                <span class="loader"></span>
            </div>
        </transition>

        <div class="container">
            <admin-navbar
                @saveFontsEvent="save"
                @onCategoriesReceived="categoryReceived"
                :user="user">
            </admin-navbar>
        </div>

        <section class="hero is-warning is-medium">
            <div class="hero-body has-text-centered">
                <div class="container">
                    <span class="tag is-large is-dark">{{ category }}
                        <span class="total">{{ fonts.length }}</span>
                    </span>
                </div>
            </div>
        </section>

        <section class="section main">
            <div class="container">
                <div class="columns">
                    <div class="column is-half is-offset-one-quarter">
                        <ul class="fonts">
                            <draggable
                                v-model="fonts"
                                :options="{animation: 150, handle: '.mover'}"
                                @start="drag=true"
                                @end="check"
                                @input="magic">
                                <li v-for="(font, index) in fonts" :key="font.id">
                                    <button class="mover button is-small is-warning">
                                        <i class="fa fa-exchange fa-rotate-90"></i>
                                    </button>
                                    <div class="inner">
                                        <p class="title is-4 is-spaced">{{ font.name }}</p>
                                        <p class="subtitle is-2" :style="{fontFamily: font.name}">
                                            The Best Preparation For Tomorrow Is Doing Your Best Today
                                        </p>
                                    </div>
                                        
                                    <div class="actions field is-grouped">
                                        <button
                                            v-if="!font.showEdit"
                                            @click="showEdit(font)"
                                            class="button is-info is-small is-outlined">
                                                <span>Edit</span>
                                                <span class="icon is-small">
                                                    <i class="fa fa-pencil-square-o"></i>
                                                </span>
                                        </button>
                                        <div class="field has-addons" v-if="font.showEdit">
                                            <p class="control">
                                                <input
                                                    class="input is-small"
                                                    type="number"
                                                    name="mover"
                                                    v-model.number="fonts[index].sortOrder" />
                                            </p>
                                            <p class="control">
                                                <button
                                                    @click="hideEdit(font, index)"
                                                    class="button is-small">
                                                        Done
                                                </button>
                                            </p>
                                        </div>
                                        <button
                                            @click="removeFont(font)"
                                            class="button is-danger is-small is-outlined remove">
                                                <span>Delete</span>
                                                <span class="icon is-small">
                                                    <i class="fa fa-trash-o"></i>
                                                </span>
                                        </button>
                                    </div>
                                </li>
                            </draggable>
                        </ul>

                        <div v-if="next" class="has-text-centered loadmore">
                            <button
                                @click="getFonts(next)"
                                class="button is-warning loadmore-button">
                                Load more
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>

import API from '@/api';
import draggable from 'vuedraggable';
import AdminNavbar from '@/components/_shared/AdminNavbar';

export default {

    name: 'private',

    components: {
        AdminNavbar,
        draggable
    },

    props: [
        "user",
    ],

    data() {
        return {
            category: '',
            fonts: [],
            drag: '',
            next: '',
            total: 0,
            loading: true,
            isDirty: false,
        }
    },

    computed: {
        names() {
            return this.fonts.map(font => font.name);
        },
    },

    methods: {
        categoryReceived(item) {
            this.loading = true;
            API.freedom(`/categories/${item}/list`).then(response => {
                this.fonts = response.collection.map((font, index) => {
                    font.showEdit = false;
                    font.sortOrder = index;
                    return font;
                });
                this.category = response.category.name;
                this.loading = false;
                this.loadFonts();
            })
        },
        removeFont(font) {
            alert('remove ' + font.id)
        },
        check(e) {
        },
        magic(e) {
            this.fonts = e.map((font, index) => {
                font.sortOrder = index;
                return font;
            });
        },
        showEdit(font) {
            this.hideEditAll();
            font.showEdit = true;
        },
        hideEdit(font, index) {
            font.showEdit = false;
            this.moveItem(index, font.sortOrder);
        },
        hideEditAll() {
            this.fonts.map(font => {
                font.showEdit = false;
            })
        },
        moveItem(from, to) {
            this.fonts.splice(to, 0, this.fonts.splice(from, 1)[0]);
            this.fonts.map((font, index) => {
                font.sortOrder = index;
            })
        },
        loadFonts() {
            WebFont.load({
                google: {
                    families: this.names
                },
                loading: () => {
                    this.loading = true;
                },
                active: () => {
                    this.loading = false;
                },
                fontinactive: () => {
                    this.loading = false;
                },
                classes: false
            })
        },
        save() {
            let actuals = this.fonts.map(font => { 
                return {
                    font_id: font.id,
                    position: font.sortOrder
                }
            });
            API.savePositions(actuals).then(response => {
                alert(response);
            })
        }
    }
}
</script>

<style>
    .main {
        background: rgb(249, 249, 249);
    }
    .fonts {
        background-color: #f3f3f3;
        border: 1px solid #efefef;
        border-radius: 4px;
        outline: none;
        overflow: hidden;
    }
    .fonts li {
        position: relative;
        min-height: 75px;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 20px 10px;
        background-color: #fff;
        border-bottom: 1px solid #efefef;
        box-sizing: border-box;
        user-select: none;
        color: #333;
        font-weight: 400;
        overflow: hidden;
    }
    .actions {
        position: absolute;
        top: 5px;
        right:  5px;
    }
    .remove {
        margin-left: 5px;
    }
    .mover {
        margin-right:  10px;
    }
    .loadmore-button {
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        color: #fff;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        margin: 60px auto 0;
        overflow: hidden;
        padding: 0 48px;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .tag.is-large {
        position: relative;
        font-size: 1.8rem;
        color: #444;
        box-shadow: 0 15px 40px -10px rgba(0, 0, 0, 0.25);
        background-color: rgba(255, 255, 255, 0.25);
    }
    .total {
        position: absolute;
        top: 50%;
        right: -20px;
        color: #fff;
        font-size: 1rem;
        background: black;
        height: 40px;
        width: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 20px;
        transform: translateY(-50%);
    }
    .loading-container {
        position: fixed;
        z-index: 1000;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0.99);
    }
    span.loader {
        height: 4rem;
        width: 4rem;
        position: absolute;
        top: 50%;
        left: 50%;
        border-left-color: #ffdd57;
        border-bottom-color: #ffdd57;
        border-width: 4px;
    }
    .fade-enter-active, .fade-leave-active {
      transition: opacity 250ms
    }
    .fade-enter, .fade-leave-to {
      opacity: 0
    }
</style>