<template>
    <div v-if="status" class="font-categories">
        <div @click.self="toggle" uk-height-viewport="offset-top: true" class="uk-flex uk-flex-middle">
            <div class="uk-width-1-1">
                <div class="uk-container">
                    <ul class="uk-list">
                        <li
                            @click="getFonts(category)"
                            v-for="category in typefaces"
                            class="uk-text-lead jis-list-text-color">
                                {{ category.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">

    @import "../../sass/variables";

    .font-categories {
        z-index: 1000;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        left: 0;
        right: 0;
        li {
            cursor: pointer;
            &:hover {
                color: $global-link-color;
            }
        }
    }
    
</style>

<script>
    
export default {

    name: 'typefaces',

    data() {
        return {
            // local state
        }
    },

    methods: {

        receiveTypefaces() {
            return this.$store.dispatch('receiveTypefaces');
        },

        receiveFonts(id) {
            return this.$store.dispatch('receiveFonts', id);
        },

        receiveFavorites() {
            return this.$store.dispatch('receiveFavorites');
        },

        toggle() {
            return this.$store.dispatch('showCategoriesHandler');
        },

        getFonts(category) {
            this.receiveFonts(category.id);
            this.$store.state.category = category.name;
            this.toggle();
        },

    },

    computed: {

        typefaces() {
            return this.$store.getters.typefaces;
        },

        fonts() {
            return this.$store.getters.fonts;
        },

        favorites() {
            return this.$store.getters.favorites;
        },

        status() {
            return this.$store.getters.status;
        },

    },

    mounted() {

        this.receiveTypefaces();
        this.receiveFavorites();
        this.receiveFonts(5);

    },

};

</script>