.arrow, .favorites {
    color: $global-link-color!important;
}

.login-page {
    .jis-color-primary, .help.is-danger {
        color: #505050 !important;
    }
    .uk-button-primary {
        background: #505050;
    }
}

@media (max-width: 642px) {
    .ss {
        float: right!important;
    }
    .top {
        padding-bottom: 20px;
    }
}