.jis-modal-dark {
    background: rgba(0, 0, 0, 0.9);
    .uk-modal-close-full {
        color: $global-primary-background;
        top: 25px;
        right: 25px;
        background: transparent;
        border: 2px solid $global-primary-background;
        border-radius: 100px;
    }
    input {
        height: 50px;
        width: 350px;
        background: rgba(255, 255, 255, 0.1);
    }
    .uk-button {
        height: 50px;
    }
    .uk-link {
        color: #f9f9f9;
        text-decoration: underline;
    }
}

.jis-modal-yellow {
    background: rgba($global-primary-background, 0.9);
    .uk-modal-close-full {
        color: $main-dark;
        top: 25px;
        right: 25px;
        background: transparent;
        border: 1px solid $main-dark;
        border-radius: 100px;
    }
    input {
        height: 50px;
        width: 350px;
        background: rgba(255, 255, 255, 0.1);
        border-color: $main-dark;
    }
    .uk-button {
        height: 50px;
        background: $main-dark;
    }
    .uk-link {
        color: #f9f9f9;
        text-decoration: underline;
    }
    .uk-form-icon {
        color: $main-dark;
    }
}

.jis-modal-white {
    .uk-modal-close-full {
        color: $main-dark;
        top: 25px;
        right: 25px;
        background: transparent;
        border: 1px solid $main-dark;
        border-radius: 100px;
    }
}

@media (max-width: $breakpoint-small) {
    .jis-modal-dark, .jis-modal-yellow {
        input {
            width: 250px;
        }
    }
}