.site-credit {
    font-size: 8px;
    img {
        height: 28px;
        margin-left: 5px;
    }
}

@media (max-width: $breakpoint-small) {
    
    .site-credit {
        position: relative;
        font-size: 10px;
        margin-left: -20px;
        img {
            height: 24px;
            margin: 4px;
        }
    }

}