<template>
    <nav class="navbar">
        <div class="navbar-brand">
            <a class="navbar-item" href="/dashboard">
              <img src="/images/logo.png" alt="Logo is here" height="28">
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                <a
                    @click.prevent="getFonts(category)"
                    v-for="category in categories"
                    class="navbar-item">{{ category.name }}</a>
            </div>
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    <span class="icon">
                        <i class="fa fa-user-o"></i>
                    </span>
                    {{ user.name }}
                </a>
                <div  class="navbar-item">
                    <p class="control">
                        <a @click.prevent="saveFonts" class="button is-primary" >
                          <span class="icon">
                            <i class="fa fa-save"></i>
                          </span>
                          <span>Save</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </nav>
</template>

<script>
import API from '@/api';

export default {
    name: 'admin-navbar',

    data() {
        return {
            categories: [],
            fonts: [],
        }
    },

    props: ['user'],

    methods: {
        getFonts(category) {
            this.$emit('onCategoriesReceived', category.id);
        },
        saveFonts() {
            this.$emit('saveFontsEvent');
        },
    },

    mounted() {
        API.getTypefaces().then(categories => {
            this.categories = categories.map(category => {
                return {
                    id: category.id,
                    name: category.name
                }
            });
            this.$emit('onCategoriesReceived', this.categories[0]['id']);
        });
    }
}
</script>