<template>
    <div v-show="show" class="uk-container uk-flex uk-flex-center uk-margin">
        <pre class="uk-width-1-1">{{ output }}</pre> 
    </div>     
</template>

<script>

    export default {

        name: 'devmode',

        props: {
            show: {
                type: Boolean,
                required: true
            },
            output: {
                type: [Object, Array],
                required: true
            }
        },

        data() {
            return {

            }
        },

        mounted() {
            console.log('Devmode has mounted.')
        }

    }

</script>