<template>
    <form class="input-preview" @submit.prevent>
        <div class="uk-inline">
            <a
                @click.prevent="updatePreview"
                class="uk-form-icon uk-form-icon-flip"
                :uk-icon="inputIconLogic">
            </a>
            <input
                :value="localPreview"
                v-model="localPreview"
                class="uk-input uk-form-width-medium"
                :class="{'uk-form-danger': errors.has('preview') }"
                type="text"
                name="preview"
                placeholder="Enter your own text"
                v-validate="'max:60'" />
            <span
                v-show="errors.has('preview')"
                class="help is-danger">
                    {{ errors.first('preview') }}
            </span>
            <span class="counter">{{ localPreview.length }}</span>
        </div>
    </form>
</template>

<script>
    export default {
        name: 'input-preview',

        data() {
            return {
                localPreview: ''
            }
        },

        watch: {
            localPreview: function (preview) {
                if (preview.length > 61) {
                    this.takeOffExtra(preview.substring(0, 60));
                } else if (preview.length === 0) {
                    this.updatePreview();
                }
            }
        },

        methods: {
            updatePreview () {
                let value = this.localPreview;
                if (value.length > 0 && value.length <= 60) {
                    this.$store.dispatch('updatePreview', value);
                } else {
                    this.localPreview = '';
                    this.$store.dispatch('updatePreview', '');
                }
            },
            takeOffExtra (preview) {
                this.localPreview = preview;
            },
        },

        computed: {
            inputIconLogic() {
                let previewLength = this.localPreview.length;
                if (previewLength === 0) {
                    return 'icon: pencil';
                } else if (previewLength > 0 && previewLength <= 60) {
                    return 'icon: check';
                } else if (previewLength > 60) {
                    return 'icon: close';
                }
            }
        }
    }
</script>

<style>
    .input-preview {
        position: relative;
    }
    .input-preview span {
        position: absolute;
        font-size: 10px;
        text-align: center;
    }
    .counter {
        top: -7px;
        right: -7px;
        background: #222222;
        color: #ffcb08;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        border-radius: 100%;
        padding: 2px;
    }
</style>