<template>
    <div>
        <div uk-parallax="bgy: 50" uk-height-viewport class="uk-background-cover uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle" :style="{ backgroundImage: 'url(' + image + ')' }">
            <div class="uk-position-cover">
                <div class="uk-position-center uk-text-center uk-overlay uk-overlay-default uk-position-center">
                    <h1 class="uk-h1 uk-text-uppercase uk-margin-remove uk-h2">{{ title }}</h1>
                </div>
            </div>
        </div>

        <div class="scroll-down svg" id="home-scroll-down">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_2" x="0px" y="0px" viewBox="0 0 25.166666 37.8704414" enable-background="new 0 0 25.166666 37.8704414" xml:space="preserve">
                <path class="stroke" fill="none" stroke="#c7c4b8" stroke-width="2.5" stroke-miterlimit="10" d="M12.5833445 36.6204414h-0.0000229C6.3499947 36.6204414 1.25 31.5204487 1.25 25.2871208V12.5833216C1.25 6.3499947 6.3499951 1.25 12.5833216 1.25h0.0000229c6.2333269 0 11.3333216 5.0999947 11.3333216 11.3333216v12.7037992C23.916666 31.5204487 18.8166714 36.6204414 12.5833445 36.6204414z"></path>
                <path class="scroller" fill="#c7c4b8" d="M13.0833359 19.2157116h-0.9192753c-1.0999985 0-1.9999971-0.8999996-1.9999971-1.9999981v-5.428606c0-1.0999994 0.8999987-1.9999981 1.9999971-1.9999981h0.9192753c1.0999985 0 1.9999981 0.8999987 1.9999981 1.9999981v5.428606C15.083334 18.315712 14.1833344 19.2157116 13.0833359 19.2157116z"></path>
            </svg>
            <i class="icon icon-arrow-down"></i>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'jis-hero',

        props: {
            title: {
                type: String,
                required: true
            },
            image: {
                type: String,
                required: true
            }
        },
    }
</script>

<style lang="scss" scoped>

    .uk-overlay-default {
        background-color: transparent;
        border-radius: 100px;
        h1 {
            font-size: 4rem;
            color: #fff;
        }
    }

    svg {
        vertical-align: middle;
    }

    .scroll-down {
        position: absolute;
        left: 50%;
        margin-left: -20px;
        width: 40px;
        height: 40px;
        bottom: 35px;
        padding-left: 7px;
        cursor: pointer;
        z-index: 2;
        color: #c7c4b8;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .scroll-down.svg svg {
        width: 25px;
        opacity: 1;
        -webkit-transition: opacity .5s;
        -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
    }

    .scroll-down.svg .stroke {
        stroke: #44567b;
    }

    .scroll-down.svg .scroller {
        fill: #44567b;
        -webkit-animation: updown 1s infinite;
        -moz-animation: updown 1s infinite;
        -o-animation: updown 1s infinite;
        animation: updown 1s infinite;
    }

    @-webkit-keyframes updown {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0)
        }
        50% {
            -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px)
        }
        100% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0)
        }
    }

    @-moz-keyframes updown {
        0% {
            -moz-transform: translate(0, 0);
            transform: translate(0, 0)
        }
        50% {
            -moz-transform: translate(0, 5px);
            transform: translate(0, 5px)
        }
        100% {
            -moz-transform: translate(0, 0);
            transform: translate(0, 0)
        }
    }

    @-o-keyframes updown {
        0% {
            -o-transform: translate(0, 0);
            transform: translate(0, 0)
        }
        50% {
            -o-transform: translate(0, 5px);
            transform: translate(0, 5px)
        }
        100% {
            -o-transform: translate(0, 0);
            transform: translate(0, 0)
        }
    }
    
    @keyframes updown {
        0% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0)
        }
        50% {
            -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px)
        }
        100% {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0)
        }
    }
</style>