<template>
    <div class="uk-offcanvas-content">
        <div uk-sticky>
            <div class="uk-navbar-container">
                <div class="uk-container">
                    <nav uk-navbar>
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-item uk-logo logo" href="/">
                                <img src="/images/logo.png" alt="logo"/>
                            </a>
                            <div class="uk-navbar-item site-credit">
                                <span>by </span>
                                <a href="http://jis.az">
                                    <img src="/images/jis.svg" alt="jis.az"/>
                                </a>
                            </div>
                        </div>
                        <div class="uk-navbar-right">
                            
                            <div class="uk-navbar-item uk-visible@m">
                                <input-preview></input-preview>
                            </div>

                            <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon href="#auth-menu" uk-toggle></a>
                            <ul class="uk-navbar-nav uk-visible@s">
                                <li style="position: relative">
                                    <a @click="app.$refs.magical.refresh()" uk-toggle="target: #favorites-modal">
                                        <span class="uk-visible@m uk-icon uk-margin-small-right favorites" uk-icon="icon: jstarfilled; ratio: .8"><span class="inner-value">{{ $store.getters.favoritesCount }}</span></span>
                                        Favorites
                                    </a>
                                </li>
                                <li>
                                    <a @click.prevent='logout'>
                                        <span class="uk-visible@m uk-icon uk-margin-small-right" uk-icon="icon: sign-out; ratio: .8"></span>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div id="auth-menu" uk-offcanvas="flip: true">

            <div class="uk-offcanvas-bar uk-light uk-background-secondary">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <ul class="uk-nav uk-nav-default">
                    <li style="position: relative">
                        <a @click="$refs.magical.refresh()" uk-toggle="target: #favorites-modal">
                            <span class="uk-visible@s uk-icon uk-margin-small-right favorites" uk-icon="icon: jstarfilled; ratio: .8"><span class="inner-value">{{ $store.getters.favoritesCount }}</span></span>
                            Favorites
                        </a>
                    </li>
                    <li>
                        <a @click.prevent='logout'>
                            <span class="uk-visible@s uk-icon uk-margin-small-right" uk-icon="icon: sign-out; ratio: .8"></span>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <div id="favorites-modal" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog jis-modal-white">
         <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
         <div class="uk-padding-large" uk-height-viewport>
            <div class="uk-flex uk-flex-center" uk-grid>
                <div class="uk-width-2-5@m">
                    <favorites ref="magical"></favorites>     
                </div>
            </div>
         </div>
    </div>
</div>

    </div>
</template>

<script>
    import axios from 'axios';
    import favorites from '@/components/Favorites'
    import InputPreview from '@/components/_shared/InputPreview'

    export default {
        name: 'jis-navbar-private',
        components: {
            favorites,
            InputPreview
        },
        methods: {
            logout() {
                axios.post('/logout').then(response => {
                    window.location.href = '/';
                });
            }
        }
    }
</script>

<style lang="scss">
    .uk-offcanvas-bar {
        a {
            color: #f5f5f5!important;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
    span.inner-value {
        position: absolute;
        top: 27px;
        left: 28px;
        color: #caa000;
    }
</style>