<template>
    <div class="uk-offcanvas-content">
        <div uk-sticky>
            <div class="uk-navbar-container">
                <div class="uk-container">
                    <nav uk-navbar>
                        <div class="uk-navbar-left">
                            <a class="uk-navbar-item uk-logo logo" href="/">
                                <img src="/images/logo.png" alt="logo"/>
                            </a>
                            <div class="uk-navbar-item site-credit">
                                <span>by </span>
                                <a href="http://jis.az">
                                    <img src="/images/jis.svg" alt="jis.az"/>
                                </a>
                            </div>
                        </div>
                        <div class="uk-navbar-right">

                            <div class="uk-navbar-item uk-visible@m">
                                <input-preview></input-preview>
                            </div>

                            <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon href="#auth-menu" uk-toggle></a>
                            <ul class="uk-navbar-nav uk-visible@s">
                                <li><a uk-toggle="target: #login-modal">Login</a></li>
                                <li><a uk-toggle="target: #register-modal">Register</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div id="auth-menu" uk-offcanvas="flip: true">

            <div class="uk-offcanvas-bar uk-light uk-background-secondary">
                <button class="uk-offcanvas-close" type="button" uk-close></button>
                <ul class="uk-nav uk-nav-default">
                    <li><a uk-toggle="target: #login-modal">Login</a></li>
                    <li><a uk-toggle="target: #register-modal">Register</a></li>
                </ul>
            </div>

        </div>
    </div>
</template>

<script>

    import InputPreview from '@/components/_shared/InputPreview'

    export default {
        name: 'jis-navbar',

        components: {
            InputPreview
        }
    }

</script>

<style lang="scss">
    .uk-offcanvas-bar {
        a {
            color: #f5f5f5!important;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
</style>