<template >
    <div>

        <div class="uk-align-center uk-text-center">
            <span class="jis-color-primary" uk-icon="icon: lock; ratio: 6"></span>
        </div>

        <div class="uk-flex uk-flex-center">
            <form v-show="!show_success_message" @submit.prevent="reset" role="form" method="POST" :action="route">
                <fieldset class="uk-fieldset">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                            <input
                                v-model="auth['email']"
                                class="uk-input"
                                type="text"
                                placeholder="Enter your email" />
                        </div>
                    </div>

                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-width-1-1">Send reset link</button>
                    </div>
                </fieldset>
            </form>
            <div v-show="show_success_message" class="uk-card uk-card-body uk-card-default">
                {{auth.success_message}}
            </div>
        </div>

        <div v-if="dev_mode" class="uk-container uk-flex uk-flex-center uk-margin">
            <pre class="uk-width-1-1">{{auth}}</pre>
        </div>

    </div>
</template>

<style scoped lang="scss">
    
    @import "../../../sass/variables";

    input, button {
        border-radius: 100px;
    }

    .jis-color-primary {
        color: $global-primary-background;
    }

</style>

<script>

    export default {

        name: 'forgot-password',

        props: {
            route: {
                type: String,
                required: true
            },
            dev_mode: Boolean
        },

        data() {
            return {
                auth: {
                    email: '',
                    show_success_message: false,
                    success_message: 'If we have your email address in our database then we will send a reset link!',
                    errors: {}
                }
            }
        },

        methods: {
            reset() {
                axios({
                  method: 'post',
                  url: this.route,
                  data: {
                    email: this.auth['email']
                  }
                })
                .then(response => {
                    this.auth.errors = {};
                    this.show_success_message = true;
                })
                .catch(error => {
                    this.auth.errors = error.response.data;
                    this.show_success_message = false;
                });
            }
        },

        computed: {
        },

        mounted() {
            console.log('Forgot Password has mounted.')
        }
    }
    
</script>