<template >
    <div>

        <div class="uk-align-center uk-text-center">
            <span class="jis-color-primary" uk-icon="icon: jloginscreen; ratio: .6"></span>
        </div>

        <div class="uk-flex uk-flex-center">
            <form @submit.prevent="login" role="form" method="POST" :action="route">
                <fieldset class="uk-fieldset">
                    <span :style="{opacity: message.length > 1? 1 : 0}" class="uk-text-danger">{{message}}</span>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                            <input
                                v-validate="'required|email'"
                                v-model="auth['email']"
                                name="email"
                                class="uk-input"
                                type="text"
                                placeholder="E-mail"
                                :class="{'uk-form-danger': errors.has('email') }" />
                        </div>
                        <br>
                        <span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
                    </div>                    

                    <div class="uk-margin">

                        <div v-show="!showPassword" class="uk-inline">
                            <a @click="showPasswordHandler" class="uk-form-icon uk-form-icon-flip eye jis-color-primary" uk-icon="icon: jeyelock"></a>
                            <input
                                v-validate="'required|min:6'"
                                name="password"
                                class="uk-input jis-color-primary"
                                type="password"
                                v-model="auth['password']"
                                placeholder="Password"
                                :class="{'uk-form-danger': errors.has('password') }" />
                        </div>
                        <br>
                        <span v-show="errors.has('password')" class="help is-danger">{{ errors.first('password') }}</span>

                        <div v-show="showPassword" class="uk-inline">
                            <a @click="showPasswordHandler" class="uk-form-icon uk-form-icon-flip eye jis-color-primary" uk-icon="icon: jeye"></a>
                            <input
                                class="uk-input"
                                type="text"
                                v-model="auth['password']"
                                placeholder="Password" />
                        </div>

                    </div>

                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary uk-width-1-1">Login</button>
                    </div>
                    <!-- <div class="uk-margin uk-text-center">
                        <a class="uk-link uk-text-small" :href="password_forget_route">
                            Forgot Your Password?
                        </a>
                    </div> -->
                </fieldset>
            </form>
        </div>

        <devmode :show="dev_mode" :output="auth" />

    </div>
</template>

<style scoped lang="scss">
    @import "../../../sass/variables";

    input, button {
        border-radius: 100px;
    }

    .jis-color-primary {
        color: $global-primary-background;
    }

    .help.is-danger {
        color: #f9f9f9;
    }
</style>

<script>

    import Devmode from '@/components/_shared/Devmode';

    export default {

        name: 'login',

        components: {
            Devmode
        },

        props: {
            route: {
                type: String,
                required: true
            },
            password_forget_route: {
                type: String,
                required: true
            },
            dev_mode: Boolean
        },

        data() {
            return {
                showPassword: false,
                auth: {
                    email: '',
                    password: '',
                    errors: {}
                },
                message: 'o'
            }
        },

        methods: {
            showPasswordHandler() {
                this.showPassword = !this.showPassword;
            },
            login() {
                axios({
                  method: 'post',
                  url: this.route,
                  data: {
                    email: this.auth['email'],
                    password: this.auth['password']
                  }
                })
                .then(response => {
                    window.location = '/';
                })
                .catch(error => {
                    this.auth.errors = error.response.data;
                    this.message = 'Wrong Login or Password';
                    setTimeout(() => { this.message = 'o' }, 2000);
                });
            }
        },

        computed: {
        },

        mounted() {
            console.log('Login has mounted.')
        }
    }
</script>