<template >
    <div>
        
        <div class="uk-align-center uk-text-center">
            <span class="jis-color-secondary" uk-icon="icon: jregisterscreen; ratio: .6"></span>
        </div>

        <div class="uk-flex uk-flex-center register">
            <form @submit.prevent="register" role="form" method="POST" :action="route">
                <fieldset class="uk-fieldset">
                    <span class="uk-text-danger">{{message}}</span>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                            <input
                                v-validate="'required|alpha_spaces'"
                                name="name"
                                v-model="auth['name']"
                                class="uk-input" 
                                type="text"
                                placeholder="Name"
                                :class="{'uk-form-danger': errors.has('name') }" />
                        </div>
                        <br>
                        <span v-show="errors.has('name')" class="help is-danger">{{ errors.first('name') }}</span>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                            <input
                                v-validate="'required|email'"
                                name="registation email"
                                v-model="auth['email']"
                                class="uk-input"
                                type="text"
                                placeholder="E-mail"
                                :class="{'uk-form-danger': errors.has('registation email') }" />
                        </div>
                        <br>
                        <span v-show="errors.has('registation email')" class="help is-danger">{{ errors.first('registation email') }}</span>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input
                                v-validate="'required|min:6'"
                                name="registation_password"
                                class="uk-input jis-color-primary"
                                type="password"
                                v-model="auth['password']"
                                placeholder="Password"
                                :class="{'uk-form-danger': errors.has('registation_password') }" />
                        </div>
                        <br>
                        <span v-show="errors.has('registation_password')" class="help is-danger">{{ errors.first('registation_password') }}</span>
                    </div>
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                            <input
                                v-validate="'required|confirmed:registation_password'"
                                name="password_confirmation"
                                class="uk-input"
                                type="password"
                                v-model="auth['password_confirmation']"
                                placeholder="Confirm Password"
                                :class="{'uk-form-danger': errors.has('password_confirmation') }" />
                        </div>
                        <br>
                        <span v-show="errors.has('password_confirmation')" class="help is-danger">{{ errors.first('password_confirmation') }}</span>
                    </div>
                    <div class="uk-margin">
                        <button class="uk-button uk-button-primary  uk-width-1-1">Register</button>
                    </div>
                </fieldset>
            </form>
        </div>

        <div v-if="dev_mode" class="uk-container uk-flex uk-flex-center uk-margin">
            <pre class="uk-width-1-1">{{auth}}</pre>
        </div>
        
    </div>
</template>

<style scoped lang="scss">
    
    @import "../../../sass/variables";

    input, button {
        border-radius: 100px;
    }

    .jis-color-secondary {
        color: $main-dark;
    }

    .help.is-danger {
        color: #222;
    }

    .register {
        ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    lighten($main-dark, 5%);
        }
        :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
           color:    lighten($main-dark, 5%);
           opacity:  1;
        }
        ::-moz-placeholder { /* Mozilla Firefox 19+ */
           color:    lighten($main-dark, 5%);
           opacity:  1;
        }
        :-ms-input-placeholder { /* Internet Explorer 10-11 */
           color:    lighten($main-dark, 5%);
        }
        ::-ms-input-placeholder { /* Microsoft Edge */
           color:    lighten($main-dark, 5%);
        }
    }

</style>

<script>

    export default {
        name: 'registration',

        props: {
            route: {
                type: String,
                required: true
            },
            dev_mode: Boolean
        },

        data() {
            return {
                auth: {
                    name: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    errors: {}
                },
                message: ''
            }
        },
        methods: {
            register: function(e) {
                let self = this;
                axios({
                  method: 'post',
                  headers : { 'Content-Type': 'application/json' },
                  responseType: 'json',
                  url: this.route,
                  data: {
                    name: this.auth['name'],
                    email: this.auth['email'],
                    password: this.auth['password'],
                    password_confirmation: this.auth['password_confirmation']
                  }
                })
              .then(response => {
                    window.location = '/';
                })
                .catch(error => {
                    this.auth.errors = error.response.data;
                    this.message = 'Something went wrong'
                    setTimeout(() => { this.message = '' }, 2000);
                });
            }
        },
        mounted() {
            console.log('Login has mounted.')
        }
    }
    
</script>